.quiz{
    width: 100%;
    padding: 20px;
}
.question{
    margin: 20px;
    font-size: 18px;
}
.variants label{
    text-align: left;
    margin-bottom: 10px;
}
@media(max-width: 768px){
    .button {
        position: fixed !important;
        bottom: 118px;
        right: 24px;
        z-index: 999;
        top: inherit !important;
    }
    .button:active{
        top: inherit !important;
    }
}
